header {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

//phone
@media only screen and (max-width: 715px) {
}

// tablet
@media only screen and (max-width: 990px) {
}

// desktop
@media only screen and (min-width: 901px) {
}