@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');



html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    width: 50%;
	height: 100%;
	background-color: #010704;
    overflow-x: hidden;
}

/* background noise */

.noise {
    position: fixed;
    top: -100%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 300vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: grain .2s infinite;
    z-index: -10;
  }

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }
  

/* Typography */

h1, h2, h3, h4, p, button, input {
    font-family: 'Syne Mono', monospace;
    color: #49AB91;
    text-shadow:
    0 0 100px #49AB91,
    0 0 10px #49AB91;
    
}


/* Results */

.url-results {
    margin-top: 10vh;
}

.resultData {
    display: flex;
}

.resultData p {
    margin-left: 20px;
}